@model ApiModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Stock Calculations</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style>
        * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .grid-container {
            display: grid;
            grid-template-columns: min-content min-content min-content;
            padding: 10px;
            margin-top: 70px;
            margin-left: 37%;
            align-content: 10px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            width: 200px;
            border: 2px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin-top: 25px;
        }
        #slider-range {
            margin: 0 auto;
            margin-top: 200px;
            width: 2000px;
        }

        p {
            font-size: 20px;
        }

        #amount, #pstyle {
            border: none;
            text-align: center;
        }

        #mainDiv {
            height: 100px;
            width: 500px;
            text-align: center;
            margin: 0 auto;
            margin-top: 30px;
        }

        #compare, #lockin {
            text-align: center;
            margin-top: 75px;
            margin-left: 600px;
            height: 65px;
            width: 165px;
        }
        #compare {
            margin-left: 978px;
        }
        #lockin {
            margin-left: 281px;
        }
        form, form * {
            display: inline-block;
        }
        #buttons {
            margin: 0 auto;
        }
    </style>
    <script>
        $(document).ready(function() {
            $(function () {
                var lockinStatus;
                var multiple = 1;
                var upper = 1;
                var lower = 0;
                var val;
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 365,
                    step: 1,
                    //values: [Cookies.get("lowerInt"), Cookies.get("upperInt")],
                    values: [lower || @ViewBag.low, 365],
                    step: 1,
                    slide: function (event, ui) {
                        console.log("clicked button1");
                        $("#amount").val("" + ui.values[0] + " - " + ui.values[1]);
                        multiple = ui.values[1] - ui.values[0];
                        upper = ui.values[1];
                        lower = ui.values[0];

                        
                        $("#form").attr("action", ("/" + upper + "/" + lower));
                    }
                });

                $("#amount").val("" + $("#slider-range").slider("values", 0) +
                    " - " + $("#slider-range").slider("values", 1));
                
                $('#compare').click(function() {
                    localStorage.setItem('low', $("#slider-range").slider("values", 0).toString());
                })
                $("#lockin").click(function() {
                    multiple = $("#slider-range").slider("values", 1) - $("#slider-range").slider("values", 0); 
                    var maximum = 3650;
                    lower = $("#slider-range").slider('values', 0);
                    upper = $("#slider-range").slider('values', 1);
                    while(maximum % multiple != 0) {
                        maximum++;
                    }
                    $("#slider-range").slider("option", "min", lower);
                    $("#slider-range").slider("option", "max", maximum);
                    $("#slider-range").slider("option", "step", multiple);
                    console.log(multiple);
                    
                })
            });
        });
        
        
    </script>
</head>

<body>
    <div id="mainDiv">
        <p style="margin: 0 auto;">Please select a range to compare from</p>
        <p><input type="text" id="amount" readonly style="border:0; font-weight:bold;margin: 0 auto; margin-top: 15px;"></p>
    </div>

    <div id="slider-range"></div>
    <div id="buttons">
        <form id="form" method="post" action="/">
            <input type="submit" id="compare" class="btn btn-primary" value="compare values" />
        </form>
        <button id="lockin" class="btn btn-success">Lock-In</button>
    </div>


    <div class="grid-container">
        <div class="grid-item">@Model.IVE</div>
        <div class="grid-item" style="margin-left: 25px; margin-right: 25px;">@Model.IVV</div>
        <div class="grid-item">@Model.IVW</div>
        <div class="grid-item">@Model.IJJ</div>
        <div class="grid-item" style="margin-left: 25px; margin-right: 25px;">@Model.IJH</div>
        <div class="grid-item">@Model.IJK</div>
        <div class="grid-item">@Model.IWN</div>
        <div class="grid-item" style="margin-left: 25px; margin-right: 25px;">@Model.IWM</div>
        <div class="grid-item">@Model.IWO</div>
    </div>

</body>
</html>